<<<<<<< HEAD
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

textarea, input:not([type='submit']) {
    height: 50px;
    padding: 15px;
    width: 250px;
}

textarea{
    padding-top: 16px;
    resize: none;
    height: 250px;
}

input, textarea{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid #888;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--background-color);
    color: var(--form-text-color);
}

::placeholder{
    color: var(--text-color);
}

input[type='submit'] {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    font-weight: bold;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    width: 128px;
    height: 45px;
    font-size: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    cursor: pointer;
    margin: auto;
}

input[type='submit']:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

input[type='submit']:active {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (width >= 800px) {
    textarea, input:not([type='submit']) {
        width: 600px;
        font-size: 20px;
    }
    form{
        gap: 40px
    }
}

@media (width >= 1400px) {
    textarea, input:not([type='submit']) {
        width: 800px;
    }
}


=======
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

textarea, input:not([type='submit']) {
    height: 50px;
    padding: 15px;
    width: 250px;
}

textarea{
    padding-top: 16px;
    resize: none;
    height: 250px;
}

input, textarea{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid #888;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--background-color);
    color: var(--form-text-color);
}

::placeholder{
    color: var(--text-color);
}

input[type='submit'] {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    font-weight: bold;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    width: 128px;
    height: 45px;
    font-size: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    cursor: pointer;
    margin: auto;
}

input[type='submit']:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

input[type='submit']:active {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (width >= 800px) {
    textarea, input:not([type='submit']) {
        width: 600px;
        font-size: 20px;
    }
    form{
        gap: 40px
    }
}

@media (width >= 1400px) {
    textarea, input:not([type='submit']) {
        width: 800px;
    }
}


>>>>>>> 67ff116ac0dd547a970971dabd59ad2a8a45f33b
