<<<<<<< HEAD
:root{
    --background-color: #E2F1E7;
    --btn-color: #243642;
    --btn-text-color: #fafafa;
    --project-card-bg: #19252d;
    --text-color: #243;
    --form-text-color: #243642;
    --footer-text-color: #243642;
}

[data-theme='dark'] {
    --background-color: #243642;
    --btn-color:#fafafa;
    --btn-text-color: #243;
    --project-card-bg: #effef4;
    --text-color: #fafafa ;
    --form-text-color: #e2f1f7;
    --footer-text-color: #E2F1E7 ;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1{
    font-weight: 900;
    font-size: 32px;
}

p{
    font-size: 16px;
    font-weight: 300;
}

h1,h2,h3,p{
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1,h2,h3,p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2{
    text-transform: uppercase;
}

h2,h3{
    font-size: 20px;
}

.sectionTitle{
    margin-bottom: 30px;
}

.hover{
    cursor: pointer;
}

@media (width >= 800px) {
    #root {
        gap: 100px;
    }
    h1{
        font-size: 40px;
    }
    h2, h3{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
    .selectionTitle {
        margin-bottom: 60px;
    }
}

@media (width >= 1400px) {
    #root {
        gap: 200px;
    }
    h1{
        font-size: 48px;
    }
    .selectionTitle {
        margin-bottom: 75px;
    }
=======
:root{
    --background-color: #E2F1E7;
    --btn-color: #243642;
    --btn-text-color: #fafafa;
    --project-card-bg: #19252d;
    --text-color: #243;
    --form-text-color: #243642;
    --footer-text-color: #243642;
}

[data-theme='dark'] {
    --background-color: #243642;
    --btn-color:#fafafa;
    --btn-text-color: #243;
    --project-card-bg: #effef4;
    --text-color: #fafafa ;
    --form-text-color: #e2f1f7;
    --footer-text-color: #E2F1E7 ;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1{
    font-weight: 900;
    font-size: 32px;
}

p{
    font-size: 16px;
    font-weight: 300;
}

h1,h2,h3,p{
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1,h2,h3,p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2{
    text-transform: uppercase;
}

h2,h3{
    font-size: 20px;
}

.sectionTitle{
    margin-bottom: 30px;
}

.hover{
    cursor: pointer;
}

@media (width >= 800px) {
    #root {
        gap: 100px;
    }
    h1{
        font-size: 40px;
    }
    h2, h3{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
    .selectionTitle {
        margin-bottom: 60px;
    }
}

@media (width >= 1400px) {
    #root {
        gap: 200px;
    }
    h1{
        font-size: 48px;
    }
    .selectionTitle {
        margin-bottom: 75px;
    }
>>>>>>> 67ff116ac0dd547a970971dabd59ad2a8a45f33b
}